@charset "CP850";
/* all color */
/* les fonctions */
/* Les balises classiques et essentielles */
body {
  margin: 0;
  color: #333333;
  font-size: 100%;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Tahoma, Arial, sans-serif; }

div, header, section, article, footer, table, h1, h2, h3, h4, h5, h6, p, ul, li, nav, aside {
  margin: 0;
  padding: 0;
  display: block; }

code, pre {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.contain {
  width: 900px;
  margin: 0 auto; }

section {
  padding: 0; }

a {
  color: #00699b;
  text-decoration: none;
  transition: color 0.5s; }

a:hover {
  color: #0f43c5;
  text-decoration: underline;
  transition: color 0.5s; }

h1, h2, h3, h4, h5, h6, p {
  margin: 10px 0; }

h1 {
  font-size: 30px; }

h2 {
  font-size: 28px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 14px; }

h6 {
  font-size: 10px; }

.heading {
  border-bottom: 1px solid rgba(0, 0, 0, 0.26);
  padding: 5px 0; }

/* Les particularités du Framework */
/* Partie 1, les petits détails */
.rounded {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }
  .rounded > * {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px; }

.round {
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  border-radius: 35px; }
  .round > * {
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    border-radius: 35px; }

.small {
  text-transform: capitalize;
  font-size: 11px; }

.space {
  display: block;
  height: 50px; }
  .space:before, .space:after {
    clear: both; }

.hide,
.hidden,
.hiding {
  display: none !important; }

section {
  width: 100%; }

img {
  max-width: 100%; }

.center {
  text-align: center;
  margin: 0 auto; }

/* Partie 2, les grosses parties */
.lf-scrollbar::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background: transparent; }
.lf-scrollbar::-webkit-scrollbar-track-piece {
  /* Fond */
  background: #E7E7E7;
  border: solid 0px transparent;
  border-right-width: 0px;
  margin: 0;
  -webkit-border-radius: 12px; }
.lf-scrollbar::-webkit-scrollbar-track-piece:horizontal {
  /* Fond pour la barre du bas */
  border-right-width: 0px;
  border-bottom-width: 0px; }
.lf-scrollbar::-webkit-scrollbar-thumb {
  /* Barre */
  border: solid 0 transparent;
  border-right-width: 0px;
  border-left-width: 0px;
  -webkit-border-radius: 12px;
  -webkit-border-top-right-radius: 11px 12px;
  -webkit-border-bottom-right-radius: 11px 12px;
  -webkit-box-shadow: inset 0 0 0 1px #CCC,inset 0 0 0 8px #CCC; }
.lf-scrollbar::-webkit-scrollbar-thumb:hover {
  /* Barre */
  -webkit-box-shadow: inset 0 0 0 1px #BBB,inset 0 0 0 8px #BBB; }
.lf-scrollbar::-webkit-scrollbar-thumb:horizontal {
  /* Barre du bas */
  border-right-width: 0;
  border-bottom-width: 0px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px 9px;
  -webkit-border-bottom-left-radius: 5px 9px; }
.lf-scrollbar::-webkit-scrollbar-corner {
  /* Coin de la fenêtre */
  background: #bfb6a3 0 0 no-repeat; }

.label {
  text-shadow: none !important;
  box-shadow: none !important;
  text-transform: uppercase;
  background-color: #777;
  color: #000 !important;
  float: none !important;
  display: inline-block;
  vertical-align: top;
  border-radius: 3px;
  font-weight: bold;
  padding: 3px 8px;
  font-size: 70%;
  margin: 0px 6px; }
  .label.tiny {
    font-size: 10px;
    padding: 0px 6px; }

.success {
  background: #17f017 !important; }

.error {
  background: #ec3333 !important; }

.info {
  background: #4fa7e2 !important; }

.warning {
  background: #ffaa12 !important; }

.row {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5rem; }
  .row > .col {
    padding: 0 5px;
    margin: 0;
    float: left;
    position: relative;
    min-height: 1px; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

.range-1 {
  width: 8.3333333%; }

.range-2 {
  width: 16.6666666%; }

.range-3 {
  width: 25%; }

.range-4 {
  width: 33.3333333%; }

.range-5 {
  width: 41.6666666%; }

.range-6 {
  width: 50%; }

.range-7 {
  width: 58.3333333%; }

.range-8 {
  width: 66.6666666%; }

.range-9 {
  width: 75%; }

.range-10 {
  width: 83.3333333%; }

.range-11 {
  width: 91.6666666%; }

.range-12 {
  width: 100%; }

.menu {
  display: block;
  position: absolute;
  background: #333;
  color: #FFF;
  z-index: 2000; }
  .menu .contain {
    display: table; }
    .menu .contain * {
      float: left; }
  .menu.fixed {
    position: fixed; }
  .menu.top {
    top: 0;
    left: 0;
    right: 0; }
  .menu.bottom {
    bottom: 0;
    left: 0;
    right: 0; }
    .menu.bottom .drop {
      margin-bottom: auto; }
  .menu.left {
    left: 0; }
    .menu.left .drop {
      margin-top: 0; }
  .menu.right {
    right: 0; }
    .menu.right .drop {
      margin-top: 0; }
  .menu.left, .menu.right {
    top: 0;
    bottom: 0;
    width: 150px; }
    .menu.left .contain, .menu.right .contain {
      width: 100%; }
    .menu.left.large, .menu.right.large {
      width: 200px; }
    .menu.left.tiny, .menu.right.tiny {
      width: 50px; }
    .menu.left .contain > *, .menu.right .contain > * {
      width: 100%; }
    .menu.left a, .menu.right a {
      width: 100%; }
  .menu a {
    color: #FFF;
    float: left;
    padding: 10px;
    text-decoration: none; }
    .menu a.link-menu {
      font-size: 14px;
      padding: 0 10px;
      line-height: 39px; }
    .menu a:hover {
      background: #222; }

ul {
  text-decoration: none;
  list-style-type: none;
  padding: 5px 0;
  width: 100%;
  display: table; }
  ul.classic {
    list-style-type: disc;
    padding-left: 20px !important; }
    ul.classic li {
      display: list-item; }
  ul.beauty {
    padding: 3px; }
    ul.beauty li {
      border-top: 1px solid #DDD; }
      ul.beauty li a {
        display: block;
        font-size: 18px;
        padding: 5px 8px; }
        ul.beauty li a:hover {
          text-decoration: none;
          background-color: #EFEFEF;
          text-shadow: 0px 1px 0px #D3D3D3; }
      ul.beauty li:last-child {
        border-bottom: 1px solid #DDD; }
  ul li {
    line-height: 22px;
    float: none !important; }
    ul li a {
      float: none !important; }

table {
  display: table;
  width: 100%;
  max-width: 100%;
  border-spacing: 0;
  border-collapse: collapse; }
  table thead {
    display: table-header-group; }
  table tbody {
    display: table-row-group; }
  table thead, table tbody {
    width: 100%;
    vertical-align: middle; }
    table thead tr, table tbody tr {
      width: 100%; }
      table thead tr th, table thead tr td, table tbody tr th, table tbody tr td {
        text-align: left;
        display: table-cell;
        padding: 5px; }
  table.dif thead tr {
    background: -webkit-linear-gradient(top, #fdfdfd, #dbdbdb);
    background: -moz-linear-gradient(top, #fdfdfd, #dbdbdb);
    background: -o-linear-gradient(top, #fdfdfd, #dbdbdb);
    background: linear-gradient(to top, #dbdbdb, #fdfdfd); }
    table.dif thead tr th {
      border-right: 1px solid #AAA;
      cursor: default;
      padding: 3px 6px;
      text-align: left; }
      table.dif thead tr th:last-child {
        border-right: 0; }
  table.dif tbody tr:nth-child(even) {
    background: #EEE; }
  table.dif tbody tr:nth-child(odd) {
    background: #FFF; }

button,
.button {
  background: #DDD;
  border: 1px solid #AAA;
  padding: 8px 16px;
  outline: 0;
  text-shadow: 0 1px 0px rgba(255, 255, 255, 0.25);
  color: #333333;
  text-decoration: none; }
  button.success,
  .button.success {
    border: 1px solid #13B413; }
  button.error,
  .button.error {
    border: 1px solid #DA1A1A;
    color: #EEE;
    text-shadow: none; }
    button.error:hover,
    .button.error:hover {
      color: #EEE !important; }
  button.info,
  .button.info {
    border: 1px solid #386AD3; }
  button.warning,
  .button.warning {
    border: 1px solid #AF750C; }
  button.tiny,
  .button.tiny {
    padding: 2px 4px;
    font-size: 10px;
    font-weight: bold; }
  button.small,
  .button.small {
    padding: 4px 8px;
    font-size: 12px; }
  button.fat,
  .button.fat {
    padding: 12px 24px;
    font-size: 18px; }
  button.expand,
  .button.expand {
    width: 100%; }
  button:hover,
  .button:hover {
    cursor: pointer;
    box-shadow: inset 0px 0px 100px 0px rgba(0, 0, 0, 0.1);
    color: #333333;
    text-decoration: none; }

.special-input:after, .special-input:before {
  clear: both; }
.special-input div {
  margin: 4px 0;
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid #aaaaaa;
  float: left; }
  .special-input div:first-child {
    border-left: 1px solid #aaaaaa;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  .special-input div:last-child {
    border-right: 1px solid #aaaaaa;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
.special-input .website {
  padding: 7px 0;
  background: #EEE;
  width: 14%;
  font-size: 16px;
  text-align: center; }
  .special-input .website:after {
    content: "http://";
    clear: both;
    color: #777; }
.special-input .input {
  width: 86%; }
  .special-input .input input, .special-input .input select, .special-input .input textarea {
    margin: 0;
    border: 0;
    outline: 0; }

.input-label {
  background: #ddd;
  border: 1px solid #BDBDBD;
  display: block;
  padding: 0;
  margin: 5px auto; }
  .input-label .info-label {
    background: -webkit-linear-gradient(top, #dddddd, #eeeeee);
    background: -moz-linear-gradient(top, #dddddd, #eeeeee);
    background: -o-linear-gradient(top, #dddddd, #eeeeee);
    background: linear-gradient(to top, #eeeeee, #dddddd);
    display: block;
    padding: 5px 10px;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: #555; }
  .input-label input, .input-label select, .input-label textarea {
    margin: 0;
    border: 0; }
    .input-label input:hover, .input-label select:hover, .input-label textarea:hover {
      box-shadow: none; }
    .input-label input:focus, .input-label select:focus, .input-label textarea:focus {
      box-shadow: 0px -2px 8px -3px #4050CA !important; }

input, select, textarea {
  padding: 8px 16px;
  margin: 4px 0;
  font-size: 15px;
  outline: 0;
  outline-color: #1D7BD1;
  border: 1px solid #AAA;
  transition: all 500ms linear; }
  input:hover, select:hover, textarea:hover {
    box-shadow: 0px 0px 5px -2px #4050CA; }
  input:focus, select:focus, textarea:focus {
    box-shadow: 0px 0px 10px -2px #4050CA; }
  input[type="text"], select[type="text"], textarea[type="text"], input[type="number"], select[type="number"], textarea[type="number"], input[type="email"], select[type="email"], textarea[type="email"] {
    width: 100%; }

select, textarea {
  width: 100%; }

[drop] {
  width: auto;
  display: inline; }
  [drop] a.ref {
    display: block;
    position: relative;
    height: auto;
    padding-right: 35px !important;
    line-height: 39px; }
    [drop] a.ref:after {
      display: block;
      position: absolute;
      content: "";
      margin-top: -23px;
      margin-right: 16px;
      right: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 5px 0 5px;
      border-color: white transparent transparent transparent; }
  [drop]:hover {
    background: #222; }

.drop {
  display: none;
  position: absolute;
  background: #333;
  top: auto;
  overflow: hidden;
  margin-top: 39px;
  border-top: 1px solid #DDD; }
  .drop ul.beauty {
    padding: 0; }
    .drop ul.beauty li:first-child {
      border-top: 0; }
    .drop ul.beauty li:last-child {
      border-bottom: 0; }
    .drop ul.beauty li a:hover {
      background: #222;
      text-shadow: 0 0 0; }

a.close, .theater .theater-scene a.close {
  content: "×";
  position: absolute;
  right: 0;
  margin-right: 20px;
  cursor: pointer;
  color: #111; }
  a.close:hover, .theater .theater-scene a.close:hover {
    text-decoration: none; }

.message {
  display: block;
  width: 100%;
  color: #111;
  padding: 15px;
  font-size: 18px;
  background: #DDD;
  margin: 4px 0;
  position: relative; }

.modal {
  background: #FFF;
  box-shadow: 0px 0px 12px -2px #000;
  padding: 15px;
  width: 60%;
  left: 20%;
  position: fixed;
  display: none;
  top: -250px;
  margin: 0 auto;
  z-index: 4000; }
  .modal .close, .modal .theater .theater-scene a.close, .theater .theater-scene .modal a.close {
    font-size: 32px;
    position: absolute;
    right: 10px;
    top: 5px;
    color: #888;
    text-shadow: 1px 1px 1px #DDD;
    cursor: pointer; }
    .modal .close:hover, .modal .theater .theater-scene a.close:hover, .theater .theater-scene .modal a.close:hover {
      text-decoration: none;
      color: #333333;
      text-shadow: none; }

.out-modal {
  position: fixed;
  display: none;
  z-index: 3999;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000;
  background: rgba(0, 0, 0, 0.45);
  top: 0;
  left: 0; }

li.block-img, .theater .theater-links li {
  display: inline-block;
  height: 200px;
  width: 200px;
  box-shadow: 0 0 1px 0px #000;
  transition: all 300ms ease-in;
  margin: 5px; }
  li.block-img:hover, .theater .theater-links li:hover {
    box-shadow: 0 0 5px 0px #174386; }
  li.block-img img, .theater .theater-links li img {
    display: block;
    height: 200px;
    min-width: 200px;
    clip: rect(10px, 190px, 190px, 10px);
    position: absolute;
    text-align: center;
    margin: 0 auto; }

[theater] {
  display: block; }
  [theater] li {
    cursor: pointer; }

.theater {
  position: fixed;
  display: none;
  z-index: 3999;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0; }
  .theater > * {
    display: none;
    position: relative;
    background: #333333; }
  .theater .theater-scene {
    height: 75%;
    top: -75%; }
    .theater .theater-scene img {
      display: block;
      margin: 0 auto;
      max-height: 90%;
      padding-top: 15px; }
    .theater .theater-scene a.close {
      color: #FFF;
      font-size: 32px; }
  .theater .theater-links {
    bottom: -25%;
    height: 25%;
    box-shadow: 0 4px 15px -1px #DDD; }
    .theater .theater-links li {
      height: 95%;
      margin: 0.5%; }
      .theater .theater-links li img {
        clip: rect(10px, 190px, 175px, 10px); }

.tabs {
  display: table;
  width: 100%; }
  .tabs .tab-panel ul {
    padding: 0; }
    .tabs .tab-panel ul li {
      float: left !important;
      display: inline-block;
      padding: 2px 8px;
      font-size: 16px;
      cursor: pointer;
      margin: 0;
      transition: background 500ms; }
      .tabs .tab-panel ul li:hover {
        background: rgba(0, 0, 0, 0.05); }
  .tabs .tab-content .content {
    display: none; }
    .tabs .tab-content .content.active {
      display: block; }
  .tabs.to-top .tab-panel ul {
    border-bottom: 1px solid #777; }
    .tabs.to-top .tab-panel ul li {
      border-style: solid;
      border-color: #777;
      border-radius: 3px 3px 0 0;
      border-width: 0 0 0 0;
      margin: 0 4px; }
      .tabs.to-top .tab-panel ul li.active {
        border-width: 1px 1px 0 1px;
        margin-bottom: -1px;
        background: -webkit-linear-gradient(bottom, white, #eeeeee);
        background: -moz-linear-gradient(bottom, white, #eeeeee);
        background: -o-linear-gradient(bottom, white, #eeeeee);
        background: linear-gradient(to bottom, #eeeeee, white); }
      .tabs.to-top .tab-panel ul li:first-child {
        margin-left: 0; }
      .tabs.to-top .tab-panel ul li:last-child {
        margin-right: 0; }
  .tabs.to-bottom .tab-panel ul {
    border-top: 1px solid #777; }
    .tabs.to-bottom .tab-panel ul li {
      border-style: solid;
      border-color: #777;
      border-radius: 0 0 3px 3px;
      border-width: 0 0 0 0;
      margin: 0 4px; }
      .tabs.to-bottom .tab-panel ul li.active {
        border-width: 0 1px 1px 1px;
        margin-top: -1px;
        background: -webkit-linear-gradient(top, white, #eeeeee);
        background: -moz-linear-gradient(top, white, #eeeeee);
        background: -o-linear-gradient(top, white, #eeeeee);
        background: linear-gradient(to top, #eeeeee, white); }
      .tabs.to-bottom .tab-panel ul li:first-child {
        margin-left: 0; }
      .tabs.to-bottom .tab-panel ul li:last-child {
        margin-right: 0; }
  .tabs.to-left {
    padding: 0 5px;
    margin: 0;
    position: relative;
    min-height: 1px; }
    .tabs.to-left > * {
      float: left; }
    .tabs.to-left .tab-panel {
      width: 15%; }
      .tabs.to-left .tab-panel ul li {
        display: inline-block;
        width: 100%;
        border-radius: 3px 0 0 3px;
        border-style: solid;
        border-color: #777;
        border-width: 0 1px 0 0; }
        .tabs.to-left .tab-panel ul li.active {
          margin: 0;
          border-width: 1px 0 1px 1px;
          background: -webkit-linear-gradient(right, white, #eeeeee);
          background: -moz-linear-gradient(right, white, #eeeeee);
          background: -o-linear-gradient(right, white, #eeeeee);
          background: linear-gradient(to right, #eeeeee, white); }
    .tabs.to-left .tab-content {
      width: 85%;
      padding: 0 10px; }
      .tabs.to-left .tab-content .content {
        width: 100%; }
  .tabs.to-right {
    padding: 0 5px;
    margin: 0;
    position: relative;
    min-height: 1px; }
    .tabs.to-right .tab-panel {
      float: right;
      width: 15%; }
      .tabs.to-right .tab-panel ul li {
        display: inline-block;
        width: 100%;
        border-radius: 0 3px 3px 0;
        border-style: solid;
        border-color: #777;
        border-width: 0 0 0 1px; }
        .tabs.to-right .tab-panel ul li.active {
          margin: 0;
          border-width: 1px 1px 1px 0;
          background: -webkit-linear-gradient(left, white, #eeeeee);
          background: -moz-linear-gradient(left, white, #eeeeee);
          background: -o-linear-gradient(left, white, #eeeeee);
          background: linear-gradient(to left, #eeeeee, white); }
    .tabs.to-right .tab-content {
      float: left;
      width: 85%;
      padding: 0 10px; }
      .tabs.to-right .tab-content .content {
        width: 100%; }

.affix-block {
  box-shadow: 0 0 5px -1px #000;
  position: relative;
  padding: 3px;
  width: 100%;
  max-width: 150px; }
