

[data-drop]{
    width: auto;
    display: inline;
    a.ref{
        display: block;
        position: relative;
        height: auto;
        padding-right: 35px !important;
        line-height: 42px;
        &:after{
            display: block;
            position: absolute;
            content: "";
            margin-top: -23px;
            margin-right: 16px;
            right: 0;
            @include make-triangle(5,10,#FFF,bottom);
        }
    }

    &:hover{
        background: #222;
    }
}

.drop{
    display: none;
    position: absolute;
    background: #333;
    top: auto;
    overflow: hidden;
    margin-top: 42px;
    border-top: 1px solid #DDD;

    ul.beauty{
        padding: 0;
        li{
            &:first-child{
                border-top: 0;
            }
            &:last-child{
                border-bottom: 0;
            }

            a:hover{
                background: #222;
                text-shadow: 0 0 0;
            }
        }
    }

    >ul{
        >li{
            float: none;

            >a{
                float: none;
            }
        }
    }
}