.row{
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 62.5rem;

    &:before, &:after{
        content: " ";
        display: table;
    }

    &:after{
        clear: both;
    }
}

.row .row{
    width: auto;
    margin-left: -#{$padding-border};
    margin-right: -#{$padding-border};
}

.col{
    padding: 0 $padding-border;
    //margin: 0;
    float: left;
    position: relative;
    min-height: 1px;
    max-width: 100%;
    width: 100%;
}

$attr: range;
$l: l-;
$m: m-;
$s: s-;
$large: #{$l}#{$attr};
$medium: #{$m}#{$attr};
$small: #{$s}#{$attr};

$off : offset;
$loff: #{$l}#{$off};
$moff: #{$m}#{$off};
$soff: #{$s}#{$off};

.#{$attr}-1{
    width: 8.3333333%;
}
.#{$attr}-2{
    width: 16.6666666%;
}
.#{$attr}-3{
    width: 25%;
}
.#{$attr}-4{
    width: 33.3333333%;
}
.#{$attr}-5{
    width: 41.6666666%;
}
.#{$attr}-6{
    width: 50%;
}
.#{$attr}-7{
    width: 58.3333333%;
}
.#{$attr}-8{
    width: 66.6666666%;
}
.#{$attr}-9{
    width: 75%;
}
.#{$attr}-10{
    width: 83.3333333%;
}
.#{$attr}-11{
    width: 91.6666666%;
}
.#{$attr}-12{
    width: 100%;
}

.#{$off}-1{
    margin-left: 8.3333333%;
}
.#{$off}-2{
    margin-left: 16.6666666%;
}
.#{$off}-3{
    margin-left: 25%;
}
.#{$off}-4{
    margin-left: 33.3333333%;
}
.#{$off}-5{
    margin-left: 41.6666666%;
}
.#{$off}-6{
    margin-left: 50%;
}
.#{$off}-7{
    margin-left: 58.3333333%;
}
.#{$off}-8{
    margin-left: 66.6666666%;
}
.#{$off}-9{
    margin-left: 75%;
}
.#{$off}-10{
    margin-left: 83.3333333%;
}
.#{$off}-11{
    margin-left: 91.6666666%;
}
.#{$off}-12{
    margin-left: 100%;
}

/** Responsive stylesheet */
$sWidth: 650px;
$lWidth: 1000px;

/* Small screen  <650px */
@media only screen{  
    .#{$small}-hide,
    .#{$small}-0{
        display: none;
    }
    .#{$small}-1{
        width: 8.3333333%;
    }
    .#{$small}-2{
        width: 16.6666666%;
    }
    .#{$small}-3{
        width: 25%;
    }
    .#{$small}-4{
        width: 33.3333333%;
    }
    .#{$small}-5{
        width: 41.6666666%;
    }
    .#{$small}-6{
        width: 50%;
    }
    .#{$small}-7{
        width: 58.3333333%;
    }
    .#{$small}-8{
        width: 66.6666666%;
    }
    .#{$small}-9{
        width: 75%;
    }
    .#{$small}-10{
        width: 83.3333333%;
    }
    .#{$small}-11{
        width: 91.6666666%;
    }
    .#{$small}-12{
        width: 100%;
    }

    .#{$small}-1,
    .#{$small}-2,
    .#{$small}-3,
    .#{$small}-4,
    .#{$small}-5,
    .#{$small}-6,
    .#{$small}-7,
    .#{$small}-8,
    .#{$small}-9,
    .#{$small}-10,
    .#{$small}-11,
    .#{$small}-12{
        display: block;
    }

    .#{$soff}-1{
        margin-left: 8.3333333%;
    }
    .#{$soff}-2{
        margin-left: 16.6666666%;
    }
    .#{$soff}-3{
        margin-left: 25%;
    }
    .#{$soff}-4{
        margin-left: 33.3333333%;
    }
    .#{$soff}-5{
        margin-left: 41.6666666%;
    }
    .#{$soff}-6{
        margin-left: 50%;
    }
    .#{$soff}-7{
        margin-left: 58.3333333%;
    }
    .#{$soff}-8{
        margin-left: 66.6666666%;
    }
    .#{$soff}-9{
        margin-left: 75%;
    }
    .#{$soff}-10{
        margin-left: 83.3333333%;
    }
    .#{$soff}-11{
        margin-left: 91.6666666%;
    }
    .#{$soff}-12{
        margin-left: 100%;
    }
}

@media only screen and (min-width: #{$sWidth}){
    .hide-for-lm,
    .hide-for-ml{
        display: none;
    }
    .show-for-ml,
    .show-for-lm{
        display: inline-block;
    }
}

/* Medium screen 800px < x <1000px */
@media only screen and (min-width: #{$sWidth}){
    .#{$medium}-hide,
    .#{$medium}-0{
        display: none;
    }
    .#{$medium}-1{
        width: 8.3333333%;
    }
    .#{$medium}-2{
        width: 16.6666666%;
    }
    .#{$medium}-3{
        width: 25%;
    }
    .#{$medium}-4{
        width: 33.3333333%;
    }
    .#{$medium}-5{
        width: 41.6666666%;
    }
    .#{$medium}-6{
        width: 50%;
    }
    .#{$medium}-7{
        width: 58.3333333%;
    }
    .#{$medium}-8{
        width: 66.6666666%;
    }
    .#{$medium}-9{
        width: 75%;
    }
    .#{$medium}-10{
        width: 83.3333333%;
    }
    .#{$medium}-11{
        width: 91.6666666%;
    }
    .#{$medium}-12{
        width: 100%;
    }

    .#{$medium}-1,
    .#{$medium}-2,
    .#{$medium}-3,
    .#{$medium}-4,
    .#{$medium}-5,
    .#{$medium}-6,
    .#{$medium}-7,
    .#{$medium}-8,
    .#{$medium}-9,
    .#{$medium}-10,
    .#{$medium}-11,
    .#{$medium}-12{
        display: block;
    }

    .#{$moff}-1{
        margin-left: 8.3333333%;
    }
    .#{$moff}-2{
        margin-left: 16.6666666%;
    }
    .#{$moff}-3{
        margin-left: 25%;
    }
    .#{$moff}-4{
        margin-left: 33.3333333%;
    }
    .#{$moff}-5{
        margin-left: 41.6666666%;
    }
    .#{$moff}-6{
        margin-left: 50%;
    }
    .#{$moff}-7{
        margin-left: 58.3333333%;
    }
    .#{$moff}-8{
        margin-left: 66.6666666%;
    }
    .#{$moff}-9{
        margin-left: 75%;
    }
    .#{$moff}-10{
        margin-left: 83.3333333%;
    }
    .#{$moff}-11{
        margin-left: 91.6666666%;
    }
    .#{$moff}-12{
        margin-left: 100%;
    }
}

@media only screen and (max-width: #{$lWidth}){
    .hide-for-ms,
    .hide-for-sm{
        display: none;
    }
    .show-for-ms,
    .show-for-sm{
        display: block;
    }
}

/* Large screen >1000px */
@media only screen and (min-width: #{$lWidth}){    
    .#{$large}-hide,
    .#{$large}-0{
        display: none;
    }
    .#{$large}-1{
        width: 8.3333333%;
    }
    .#{$large}-2{
        width: 16.6666666%;
    }
    .#{$large}-3{
        width: 25%;
    }
    .#{$large}-4{
        width: 33.3333333%;
    }
    .#{$large}-5{
        width: 41.6666666%;
    }
    .#{$large}-6{
        width: 50%;
    }
    .#{$large}-7{
        width: 58.3333333%;
    }
    .#{$large}-8{
        width: 66.6666666%;
    }
    .#{$large}-9{
        width: 75%;
    }
    .#{$large}-10{
        width: 83.3333333%;
    }
    .#{$large}-11{
        width: 91.6666666%;
    }
    .#{$large}-12{
        width: 100%;
    }

    .#{$large}-1,
    .#{$large}-2,
    .#{$large}-3,
    .#{$large}-4,
    .#{$large}-5,
    .#{$large}-6,
    .#{$large}-7,
    .#{$large}-8,
    .#{$large}-9,
    .#{$large}-10,
    .#{$large}-11,
    .#{$large}-12{
        display: block;
    }

    .#{$loff}-1{
        margin-left: 8.3333333%;
    }
    .#{$loff}-2{
        margin-left: 16.6666666%;
    }
    .#{$loff}-3{
        margin-left: 25%;
    }
    .#{$loff}-4{
        margin-left: 33.3333333%;
    }
    .#{$loff}-5{
        margin-left: 41.6666666%;
    }
    .#{$loff}-6{
        margin-left: 50%;
    }
    .#{$loff}-7{
        margin-left: 58.3333333%;
    }
    .#{$loff}-8{
        margin-left: 66.6666666%;
    }
    .#{$loff}-9{
        margin-left: 75%;
    }
    .#{$loff}-10{
        margin-left: 83.3333333%;
    }
    .#{$loff}-11{
        margin-left: 91.6666666%;
    }
    .#{$loff}-12{
        margin-left: 100%;
    }
}