.chart {
    --chart-border-color: transparent;
    --chart-border-width: 0;
    width: auto;
    flex-grow: 1;
}

.chart-label {
    font-size: var(--small-font-size);
    -unity-text-align: middle-right;
    width: 75px;
}

/* AXES CHART */
.axes-chart {
    padding-right: 20px;
    padding-top: 20px;

    --axe-line-color: #000;
    --step-line-color: rgba(0, 0, 0, 0.2);
    --vertical-label-size: 100;
}

.axes-chart__labels-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.horizontal-chart-label {
    width: auto;
    margin: auto;
}

/* LINE CHART */
.line-chart .horizontal-chart-label {
    translate: -50% 0;
}

/* BAR CHART */
.bar-chart {
    padding-bottom: 25px;
}

.bar-chart-container {
    flex: 1;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
}

.bar-chart-label-container {
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    flex: 1;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
}

.bar-chart-column {
    width: 100px;
    flex-direction: column;
}

.bar-chart-entry {
    width: auto;
    background-color: var(--primary-color);
    -unity-text-align: upper-center;
}

.bar-chart-entry__label {
    position: absolute;
    bottom: -45px;
    width: 100px;
}

.bar-chart-entry__value {
    color: white;
}

.bar-chart__horizontal-label {
    flex-grow: 1;
    flex-shrink: 0;
    -unity-text-align: middle-center;
    transition: all 200ms ease-out;
}

.bar-chart__horizontal-label--hover {
    -unity-font-style: bold;
    scale: 1.1;
}

/* PIE CHART */
.pie-chart {
    --pie-chart-border-color: transparent;
    --pie-chart-border-width: 0;
}