:root {
    --large-font-size: 42px;
    --default-font-size: 36px;
    --small-font-size: 30px;
    
    font-size: var(--default-font-size);
    -unity-font: resource("Fonts/Oxygen-Regular");
    -unity-font-definition: resource("Fonts/Oxygen-Regular SDF");
}